.pagination {
    display: flex;
    justify-content: center;
    padding:20px;
  }
  
  .pagination button {
    padding: 8px 12px;
    margin: 0 5px;
    border-radius:10px;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  
  .pagination button.active {
    /* Define styles for the active button */
    background-color: black;
    color: white; /* Optionally change text color */
    /* Other styles */
  }
 
  .res {
    background-image: linear-gradient(to bottom, #212529 0%, #343a40 100%);
}